* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  flex-direction: column;
  /* content vertically */
  justify-content: center;
  /* align all the content of main axix vartical */
  align-items: center;
  /* take all items to the center */
  background-color: #168a7e;
}

header {
  font-size: 7vmin;
  color: #545454;
  letter-spacing: 1vmin;
}

main {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}



h2 {
  color: lightgray;
  font-size: 3vmin;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: -1vmin;

}

#board>div {
  display: flex;
  height: 100px;
  width: 100px;
  background: #0ca192;
  border: 2px solid grey;
  justify-content: center;
  align-items: center;
  font-size: 3vimpx;
  font-weight: bold;
  color: #545454;
}

button {
  margin-top: 3vmin;
  padding: 2vmin;
  font-size: 2vmin;
  border-radius: 3vmin;
  border: .2px solid grey;
  color: grey;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: grey;
}

@media screen and (max-width: 480px) {
  header {
    font-size: 4vmin;
  }

  #board > div {
    height: 80px;
    width: 80px;
    font-size: 2.5vmin;
  }

  button {
    margin-top: 2vmin;
    padding: 1.5vmin;
    font-size: 1.5vmin;
    border-radius: 2vmin;
  }
}